<div class="row">
    <div class="col-md-8">
        <h4>Movies List</h4>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Release Year</th>
            <th scope="col">Edit Movie</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies">
            <th scope="row">
                <a [routerLink]="['/movies',movie.id]">{{movie.id}}</a>
            </th>
            <td>{{movie.title}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.year}}</td>
            <td>
                <a [routerLink]="['/movies',movie.id,'edit']" class="btn btn-primary btn-sm">Edit</a>
            </td>

        </tr>

    </tbody>
</table>